/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI', sans-serif;
    background: #f2f4f8;
    color: #333;
    line-height: 1.6;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

header h1 {
    font-size: 48px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

header p {
    opacity: 0.9;
}

/* NAV */
nav {
    margin: 15px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #00d4ff;
}

/* SECTIONS */
section {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
}

/* TITLES */
h2 {
    margin-bottom: 20px;
    font-size: 28px;
    border-left: 5px solid #00d4ff;
    padding-left: 10px;
}

/* PROJECTS GRID */
#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

/*CARD*/
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-decoration: none;
    color: #222;
    font-weight: bold;
    transition: all 0.3s ease;
    min-width: 220px;
    text-align: center;
}

/* hover effect */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    background: #00bcd4;
    color: white;
}


/* CONTACT */
#contact {
    text-align: center;
}

/* FOOTER */
footer {
    margin-top: 60px;
    padding: 20px;
    background: #1f1f1f;
    color: white;
    text-align: center;
}

.links {
    margin-top: 15px;
}

.links a {
    color: #00d4ff;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #00d4ff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #0097a7;
}


.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    font-weight: normal;
}


